@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin button {
	background: var(--color-accent);
	color: #fff;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 8px 12px;
	cursor: pointer;
	line-height: 24px;
	font-size: var(--text-md);
	font-weight: 700;
	transition: all .25s;

	&:hover {
		text-decoration: none;
		opacity: .75;
	}
}