:root {
	// Bootstrap Grid with padding on both sides, so no negative margins on childrens.
	// https://getbootstrap.com/docs/4.4/layout/overview/
	--container-xl: 1140px;
	--container-lg: 960px;
	--container-md: 720px;

	// https://tailwindcss.com/docs/font-family/
	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	// https://tailwindcss.com/docs/font-size/
	--text-xs: 12px;
	--text-sm: 14px;
	--text-base: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;

	// https://tailwindcss.com/docs/text-color/
	--color-accent: #4299e1; // blue-500
	--color-dark: #1a202c; // gray-900
	--color-base: #4a5568; // gray-700
	--color-gray: #a0aec0; // gray-500
	--color-light: #e2e8f0; // gray-300
}