:root {
	// Bootstrap Grid with padding on both sides.
	// https://getbootstrap.com/docs/4.4/layout/overview/
	--container: 1134px; // 1110px (content) + 12px * 2 (padding on both sides).

	// https://tailwindcss.com/docs/font-family/
	// sans-serif: use default WordPress admin font stack
	--font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--font-serif: Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	// https://tailwindcss.com/docs/font-size/
	--text-xs: 12px;
	--text-sm: 14px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	--text-2xl: 24px;
	--text-3xl: 30px;
	--text-4xl: 36px;
	--text-5xl: 48px;
	--text-6xl: 64px;

	// https://tailwindcss.com/docs/text-color/
	--color-accent: #4299e1; // blue-500
	--color-dark: #1a202c; // gray-900
	--color-base: #4a5568; // gray-700
	--color-gray: #a0aec0; // gray-500
	--color-light: #e2e8f0; // gray-300
	--color-lighter: #edf2f7; // gray-200
	--color-lightest: #f7fafc; // gray-100

	// https://tailwindcss.com/docs/box-shadow/
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);

	// https://tailwindcss.com/docs/letter-spacing/
	--tracking-wide: .025em;
	--tracking-wider: .05em;
	--tracking-widest: .1em;
}