.archive {
	.more {
		margin-bottom: 0;
	}

	.entry + .entry {
		margin-top: 32px;
	}
	.entry-thumbnail {
		width: 100%;
		padding-bottom: 75%;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@media ( min-width: 768px ) {
		.entry {
			display: flex;
		}
		.entry-thumbnail {
			width: 280px;
			padding-bottom: 210px;
			margin-right: 16px;
		}
		.entry-body {
			flex: 1;
		}
	}
}