.archive {
	.more {
		margin-bottom: 0;
	}

	.entry-thumbnail {
		width: 100%;
		padding-bottom: 75%;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.entries {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: 1fr;
}
@media ( min-width: 768px ) {
	.grid .entries {
		grid-template-columns: 1fr 1fr;
	}
	.list-horizontal {
		.entry {
			display: flex;
		}
		.entry-thumbnail {
			width: 280px;
			padding-bottom: 210px;
			margin-right: 16px;
		}
		.entry-body {
			flex: 1;
		}
	}
}
@media ( min-width: 1024px ) {
	.grid.no-sidebar .entries {
		grid-template-columns: 1fr 1fr 1fr;
	}
}