.forum-archive.list-horizontal {
	.bbp-search-form {
		margin-bottom: 20px;
	}
}

#bbpress-forums {
	font-size: 16px;

	.bbp-reply-author a:hover {
		background: transparent;
		color: inherit;
	}
	fieldset.bbp-form {
		select,
		input[type=text] {
			height: auto;
		}
	}
	p.bbp-topic-meta img.avatar,
	div.bbp-template-notice img.avatar {
		border: none;
	}
	img.avatar {
		border-radius: 50%;
	}
	.reply a:before {
		display: none;
	}

	ul.bbp-topics,
	ul.bbp-forums,
	ul.bbp-lead-topic,
	ul.bbp-replies,
	ul.bbp-search-results,
	.bbp-forum-info .bbp-forum-content,
	p.bbp-topic-meta,
	.bbp-breadcrumb p,
	.bbp-pagination-count,
	.bbp-pagination-count,
	legend,
	#subscription-toggle,
	#favorite-toggle,
	.bbp-topic-description,
	.bbp-forum-description {
		font-size: 16px;
		font-family: var(--font-sans);
	}

	fieldset.bbp-form label {
		margin-bottom: 5px;
	}

}

#bbpress-forums div.bbp-search-form {
	float: right;
	margin-bottom: 20px;
}

.bbp-form {

	label {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.bbp-login-form label {
		width: 175px;
	}
}

div#wp-bbp_forum_content-editor-container,
.wp-editor-container {
	margin-bottom: 27px;
}

@media ( min-width: 768px ) {
	.bbpress.list-horizontal .entry {
		display: block;
	}
}