// Font sizes.
.has-xs-font-size {
	font-size: 14px;
}
.has-sm-font-size {
	font-size: 14px;
}
.has-md-font-size {
	font-size: 16px;
}
.has-lg-font-size {
	font-size: 18px;
}
.has-xl-font-size {
	font-size: 20px;
}
.has-2xl-font-size {
	font-size: 24px;
}
.has-3xl-font-size {
	font-size: 30px;
}
.has-4xl-font-size {
	font-size: 36px;
}

// Color palletes.
.has-accent-background-color {
	background-color: #4299e1;
}
.has-accent-color {
	color: #4299e1;
}
.has-dark-background-color {
	background-color: #1a202c;
}
.has-dark-color {
	color: #1a202c;
}
.has-base-background-color {
	background-color: #4a5568;
}
.has-base-color {
	color: #4a5568;
}
.has-gray-background-color {
	background-color: #a0aec0;
}
.has-gray-color {
	color: #a0aec0;
}
.has-light-background-color {
	background-color: #e2e8f0;
}
.has-light-color {
	color: #e2e8f0;
}
.has-white-background-color {
	background-color: #fff;
}
.has-white-color {
	color: #fff;
}

// Align full and align wide.
.alignfull {
	width: 100vw;
	max-width: 100vw;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	.alignfull {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.alignwide {
	--width: 100vw;

	width: var(--width);
	max-width: var(--width);
	margin-left: calc(50% - var(--width)/2);
	margin-right: calc(50% - var(--width)/2);

	padding-left: 12px;
	padding-right: 12px;
}
@media(min-width: 768px) {
	.alignwide {
		--width: var(--container-md);
	}
}
@media(min-width: 1024px) {
	.alignwide {
		--width: var(--container-lg);
	}
}
@media(min-width: 1280px) {
	.alignwide {
		--width: var(--container-xl);
	}
}
// Don't adjust the width and margin for elements inside a grid column.
.wp-block-jetpack-layout-grid-column .alignwide {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: auto;
	max-width: none;
}

// Buttons.
