.footer-widgets {
	padding: 48px 0;
	background: var(--color-light);
}
.footer .widget {
	flex: 1;
}
.site-info {
	font-size: var(--text-sm);
	text-align: center;
	padding: 12px;
	border-top: 1px solid var(--color-light);
}

// Go to top button.
.go-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 4px;
	background: rgba(0, 0, 0, .2);
	position: fixed;
	right: 12px;
	bottom: 12px;

	&:hover {
		background: rgba(0, 0, 0, .3);
	}

	svg {
		fill: #fff;
		width: 36px;
		height: 36px;
	}
}

@media (min-width: 1024px) {
	.footer-widgets {
		.container {
			display: flex;
			justify-content: space-between;
			align-items: top;
		}
		.widget + .widget {
			margin-top: 0;
			margin-left: 32px;
		}
	}
}