.footer-widgets {
	padding: 48px 0;
	border-top: 1px solid var(--color-light);
	.container {
		display: grid;
		grid-gap: 32px;
		grid-template-columns: 100%;
	}
}
.footer .widget {
	flex: 1;
	& + .widget {
		margin-top: 0;
	}
}
.site-info {
	background: #fff;
	font-size: var(--text-sm);
	text-align: center;
	padding: 12px;
	border-top: 1px solid var(--color-light);
}

// Go to top button.
.go-to-top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.2);
	position: fixed;
	right: 12px;
	bottom: 12px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s;

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}

	&:hover {
		background: rgba(0, 0, 0, 0.3);
	}

	svg {
		stroke: #fff;
		width: 24px;
		height: 24px;
	}
}

@media (min-width: 1024px) {
	.footer-widgets {
		.container {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}
	}
}
