// Sticky header.
.header {
	padding: 8px 0;
	border-bottom: 1px solid var(--color-light);
	background: #fff;
	z-index: 99;

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
}

// Sticky header.
.header-sticky .header {
	position: sticky;
	top: 0;
}
// For logged in users.
@media (min-width: 601px) and (max-width: 782px) {
	.header-sticky.admin-bar .header {
		top: 46px;
	}
}
@media (min-width: 783px) {
	.header-sticky.admin-bar .header {
		top: 32px;
	}
}

// Transparent header.
.header-transparent {
	.header {
		position: absolute;
		left: 0;
		right: 0;
		background: none;
		border-bottom-color: rgba(255, 255, 255, .2);
	}
	.site-description,
	.site-title a,
	.menu-toggle,
	.cart-icon,
	.search-open {
		color: #fff;
	}
	.site-title a:hover,
	.menu-toggle:hover,
	.cart-icon:hover,
	.search-open:hover {
		opacity: .75;
	}
}

.branding {
	display: flex;
	z-index: 1;
	margin-right: auto;
}
.custom-logo-link {
	margin-right: 12px;
}
.custom-logo {
	display: block;
}
.hide-site-name .site-name {
	display: none;
}
.site-title {
	font-size: var(--text-xl);
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: var(--tracking-wide);
	margin: 0;

	a {
		color: var(--color-dark);
		text-decoration: none;
	}
}

@media (min-width: 1024px) {
	.header-transparent {
		.nav > ul > li > a,
		.nav > ul > li > .menu-text > a,
		.nav > ul > li > .menu-text > .sub-menu-toggle {
			color: #fff;
		}
		.nav > ul > li:hover > a,
		.nav > ul > li:hover > .menu-text > a,
		.nav > ul > li:hover > .menu-text > .sub-menu-toggle {
			opacity: .75;
		}
	}
}