// Sticky header.
.header {
	padding: 8px 0;
	border-bottom: 1px solid var(--color-light);
	background: #fff;
	z-index: 9;

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
}

// Sticky header.
.header-sticky .header {
	position: sticky;
	top: 0;
}
// For logged in users.
@media (min-width: 601px) and (max-width: 782px) {
	.header-sticky.admin-bar .header {
		top: 46px;
	}
}
@media (min-width: 783px) {
	.header-sticky.admin-bar .header {
		top: 32px;
	}
}

.branding {
	display: flex;
	z-index: 1;
}
.custom-logo-link {
	margin-right: 12px;
}
.custom-logo {
	display: block;
}
.hide-site-name .site-name {
	display: none;
}
.site-title {
	font-size: var(--text-xl);
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: var(--tracking-wide);
	margin: 0;

	a {
		color: var(--color-dark);
		text-decoration: none;
	}
}