// Container.
.container {
	@include center-block;
	padding-left: 12px;
	padding-right: 12px;
}
@media (min-width: 768px) {
	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: var(--container-md);
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: var(--container-lg);
	}
	.content {
		display: flex;
		flex-wrap: wrap;
	}
	.sidebar {
		width: 300px;
		margin-left: 32px;
		margin-top: 0;
	}
	.main {
		flex: 1;
	}
	.sidebar-left {
		.sidebar {
			margin-left: 0;
			margin-right: 32px;
		}
		.main {
			order: 2;
		}
	}
	.no-sidebar {
		.main {
			margin-left: 166px;
			margin-right: 166px;
		}
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: var(--container-xl);
	}
}

// Content area.
.archive .content {
	padding-top: 48px;
	padding-bottom: 48px;
}
.sidebar {
	margin-top: 48px;
}
