// Container.
.container {
	@include center-block;
	padding-left: 12px;
	padding-right: 12px;
}
@media (min-width: 768px) {
	.container {
		padding-left: 0;
		padding-right: 0;
		max-width: var(--container-md);
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: var(--container-lg);
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: var(--container-xl);
	}
}

// Content area.
main {
	@include center-block;
	max-width: 42rem;
	padding-left: 12px;
	padding-right: 12px;
}
