.pagination {
	margin-top: 32px;

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.page-numbers {
	background: var(--color-light);
	color: var(--color-base);
	border-radius: 2px;
	border: none;
	display: inline-block;
	padding: 8px 12px;
	margin: 0 4px 4px 0;
	line-height: 1;
	font-size: var(--text-sm);
}
a.page-numbers:hover {
	text-decoration: none;
	background: var(--color-accent);
	color: #fff;
}
.page-numbers.current {
	background: var(--color-accent);
	color: #fff;
}