.pagination {
	text-align: center;
}
.page-numbers {
	background: var(--color-light);
	color: var(--color-base);
	border-radius: .25rem;
	border: none;
	padding: .5rem .75rem;
	line-height: 1;
	font-size: var(--text-sm);
	font-weight: 700;
}
a.page-numbers:hover {
	text-decoration: none;
	background: var(--color-accent);
	color: #fff;
}
.page-numbers.current {
	background: var(--color-accent);
	color: #fff;
}