.entry-header {
	margin-bottom: 1.5rem;
}
.entry-title {
	margin-bottom: 0;
}

// Entry meta.
.entry-meta {
	font-size: var(--text-sm);
	display: flex;
	align-items: center;
}
.entry-meta, .entry-meta a {
	color: var(--color-gray);
}
.entry-meta a:hover {
	text-decoration: none;
	color: var(--color-accent);
}
.entry-meta .author {
	display: flex;
	align-items: center;
}
.entry-meta .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 6px;
}
.updated:not(.published) {
	display: none;
}

// For singular pages only.
.singular {
	.entry-meta {
		margin-top: 6px;

		.author {
			margin-right: 12px;
		}
	}
}

.entry-content {
	@include clearfix;
}
.page-links {
	clear: both;
}