.entry-header {
	margin-bottom: 1.5rem;
}
.entry-title {
	margin-bottom: 0;
}

// Categories.
.post-categories {
	list-style: none;
	margin: 0 0 6px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: var(--tracking-wide);
	font-size: var(--text-sm);
	display: flex;
	flex-wrap: wrap;

	li:not(:last-child) {
		margin-right: 12px;
	}
	a {
		color: var(--color-gray);
	}
}

// Entry meta.
.entry-meta {
	font-size: var(--text-sm);
	display: flex;
	align-items: center;
}
.entry-meta, .entry-meta a {
	color: var(--color-gray);
}
.entry-meta a:hover {
	text-decoration: none;
	color: var(--color-accent);
}
.entry-meta .author {
	display: flex;
	align-items: center;
}
.entry-meta .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 6px;
}
.updated:not(.published) {
	display: none;
}

// For singular pages only.
.singular {
	.entry-thumbnail {
		margin-bottom: 24px;

		img {
			display: block;
			width: 100%;
		}
	}

	.entry-meta {
		margin-top: 6px;

		.author:after {
			display: inline-block;
			content: "/";
			margin: 0 12px;
		}
	}
}

.entry-content {
	@include clearfix;
}
.page-links {
	clear: both;
}