html {
	font-family: var(--font-sans);
	line-height: 1.5;
	box-sizing: border-box;
	color: var(--color-base);
}
*, *:before, *:after {
	box-sizing: inherit;
}

// Headings.
h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: var(--color-dark);
	margin: 0 0 1.5rem;
	line-height: 1.25;
}
h1 {
	font-size: var(--text-2xl);
}
h2 {
	font-size: var(--text-xl);
}
h3 {
	font-size: var(--text-lg);
}
h4 {
	font-size: var(--text-base);
}
h5 {
	font-size: var(--base-sm);
}
h6 {
	font-size: var(--base-xs);
}

// Forms.
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid var(--color-light);
	border-radius: .25rem;
	padding: .5rem;
	line-height: 1.5;
}
select {
	border: 1px solid var(--color-light);
	border-radius: .25rem;
}
textarea {
	width: 100%;
}
button, input[type="button"], input[type="submit"], input[type="reset"],
.wp-block-button__link {
	background: var(--color-accent);
	color: #fff;
	border-radius: .25rem;
	border: none;
	padding: .75rem 1rem;
	cursor: pointer;
	line-height: 1;
	font-size: var(--text-sm);
	font-weight: 700;

	&:hover {
		text-decoration: none;
		opacity: .75;
	}
}

p, ul, ol, blockquote, pre, figure, hr, dl, dd, table, address {
	margin: 0 0 1.5em;
}

ul {
	padding-left: 2rem;
}
ol {
	padding-left: 2rem;
}
li > ul,
li > ol {
	margin-bottom: 0;
}

hr {
	background-color: var(--color-light);
	border: 0;
	height: 1px;
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

label {
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	border: 1px solid var(--color-border);
	padding: .5rem 1rem;
}

img, video {
	max-width: 100%;
	height: auto;
}
figure, embed, iframe, object {
	max-width: 100%;
}

pre, code, kbd, samp, tt, var {
	font-family: var(--font-mono);
	font-size: .875em;
}
pre {
	white-space: pre-wrap;
}