// Buttons.
.wp-block-button__link {
	@include button;
}
.is-style-outline {
	color: var(--color-base);

	.wp-block-cover & {
		color: #fff;
	}
}
.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var(--color-accent);
}
.is-style-outline .wp-block-button__link {
	padding-top: 7px;
	padding-bottom: 7px;
	background: transparent;
	border: 2px solid;
}

// Separator.
.wp-block-separator {
	background-color: var(--color-light);
	border: 0;
	height: 2px;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 5em;
}

// Image.
.wp-block-image img {
	display: block;
}

// File.
.wp-block-file .wp-block-file__button {
	background: var(--color-accent);
	border-radius: 4px;
	line-height: 1;
	font-size: var(--text-sm);
	font-weight: 700;
}

// Table.
.wp-block-table td, .wp-block-table th,
.wp-block-table thead, .wp-block-table tfoot {
	border-color: var(--color-light);
}

// Quotes.
blockquote {
	border-left: 4px solid;
}
blockquote,
.wp-block-quote {
	border-color: var(--color-light);
	padding-left: 1em;
	margin-bottom: 1.5em;

	p:last-of-type {
		margin: 0;
	}

	cite,
	footer,
	&__citation {
		display: block;
		margin-top: 16px;
		font-size: var(--text-sm);
	}

	&.has-text-align-right {
		border-color: var(--color-light);
	}
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin-bottom: 1.5em;
	text-align: center;
	border: none;
	padding: 0;

	&:before,
	&:after {
		display: block;
		content: '';
		position: relative;
		width: 5em;
		border-top: 2px solid var(--color-light);
		margin: 2.5em auto;
	}

	cite,
	footer,
	&__citation {
		text-align: center;
		font-size: var(--text-lg);
	}
}

// Pull quotes.
.wp-block-pullquote {
	border-color: var(--color-light);
	color: var(--color-base);
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	padding: 2.5em 0;

	blockquote {
		border: none;
		margin: 0;
		padding: 0;
	}

	p {
		font-size: var(--text-2xl);
	}

	cite,
	footer,
	&__citation {
		color: inherit;
		display: block;
		margin-top: 16px;
		font-size: var(--text-sm);
	}

	&.is-style-solid-color {
		background: var(--color-base);
		color: #fff;

		blockquote {
			text-align: center;
			max-width: 100%;
			padding: 0 2.5em;

			cite {
				text-transform: uppercase;
			}
		}
	}

	&.alignleft,
	&.alignright {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

// Calendar.
.wp-block-calendar table th {
	background: var(--color-light);
}
.wp-block-calendar tbody td, .wp-block-calendar th {
	border-color: var(--color-light);
}
.wp-block-calendar tfoot a {
	color: var(--color-accent);
}
.wp-block-calendar a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

// Tag cloud.
.tags a,
.tag-cloud-link {
	display: inline-block;
	padding: 4px 12px;
	background: var(--color-light);
	color: var(--color-base);
	font-size: var(--text-sm) !important;
	border-radius: 2px;
	margin: 0 4px 4px 0;

	&:hover {
		background: var(--color-base);
		color: #fff;
		text-decoration: none;
	}
}

// Dropcap.
.has-drop-cap:not(:focus):first-letter {
	font-size: 4em;
	font-weight: 400;
	margin: 6px 12px 0 0;
}

// Latest posts.
.wp-block-latest-posts {
	&.is-grid {
		display: grid;
		grid-gap: 32px;

		li {
			margin: 0;
			width: 100%;
		}
		a {
			color: inherit;
			font-size: var(--text-lg);
			font-weight: 700;
			line-height: 1.25;
			display: block;
			color: var(--color-dark);
		}
		img {
			width: 100%;
			display: block;
			margin-bottom: 16px;
		}
	}

	@media (min-width: 768px) {
		&.is-grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 1024px) {
		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
		&.columns-5 {
			grid-template-columns: repeat(5, 1fr);
		}
		&.columns-6 {
			grid-template-columns: repeat(6, 1fr);
		}
	}
}

// Code.
.wp-block-code {
	color: inherit;
	border-color: var(--color-light);
	font-size: var(--text-md);
	padding: 12px 16px;
}

// Font sizes.
.has-xs-font-size {
	font-size: var(--text-xs);
}
.has-sm-font-size {
	font-size: var(--text-sm);
}
.has-md-font-size {
	font-size: var(--text-md);
}
.has-lg-font-size {
	font-size: var(--text-lg);
}
.has-xl-font-size {
	font-size: var(--text-xl);
}
.has-2-xl-font-size {
	font-size: var(--text-2xl);
}
.has-3-xl-font-size {
	font-size: var(--text-3xl);
}
.has-4-xl-font-size {
	font-size: var(--text-4xl);
}
.has-5-xl-font-size {
	font-size: var(--text-5xl);
}
.has-6-xl-font-size {
	font-size: var(--text-6xl);
}

// Color palletes.
.has-accent-background-color {
	background-color: var(--color-accent);
}
.has-accent-color {
	color: var(--color-accent);
}
.has-dark-background-color {
	background-color: var(--color-dark);
}
.has-dark-color {
	color: var(--color-dark);
}
.has-base-background-color {
	background-color: var(--color-base);
}
.has-base-color {
	color: var(--color-base);
}
.has-gray-background-color {
	background-color: var(--color-gray);
}
.has-gray-color {
	color: var(--color-gray);
}
.has-light-background-color {
	background-color: var(--color-light);
}
.has-light-color {
	color: var(--color-light);
}
.has-white-background-color {
	background-color: #fff;
}
.has-white-color {
	color: #fff;
}