// Font sizes.
.has-xs-font-size {
	font-size: 14px;
}
.has-sm-font-size {
	font-size: 14px;
}
.has-md-font-size {
	font-size: 16px;
}
.has-lg-font-size {
	font-size: 18px;
}
.has-xl-font-size {
	font-size: 20px;
}
.has-2xl-font-size {
	font-size: 24px;
}
.has-3xl-font-size {
	font-size: 30px;
}
.has-4xl-font-size {
	font-size: 36px;
}

// Color palletes.
.has-accent-background-color {
	background-color: #4299e1;
}
.has-accent-color {
	color: #4299e1;
}
.has-dark-background-color {
	background-color: #1a202c;
}
.has-dark-color {
	color: #1a202c;
}
.has-base-background-color {
	background-color: #4a5568;
}
.has-base-color {
	color: #4a5568;
}
.has-gray-background-color {
	background-color: #a0aec0;
}
.has-gray-color {
	color: #a0aec0;
}
.has-light-background-color {
	background-color: #e2e8f0;
}
.has-light-color {
	color: #e2e8f0;
}
.has-white-background-color {
	background-color: #fff;
}
.has-white-color {
	color: #fff;
}

// Buttons
.wp-block-button__link {
	@include button;
}

// Separator
.wp-block-separator {
	@extend hr;
}