@import "blocks";
@import "woocommerce";

// Increase default font size for post content.
body,
p {
	font-size: var(--text-lg);
}

// Main column width.
.wp-block {
    max-width: 648px + 15px*2; // Margin on both sides.
}

// Width of "wide" blocks.
.wp-block[data-align="wide"] {
    max-width: 1140px + 15px*2;
}

// Width of "full-wide" blocks.
.wp-block[data-align="full"] {
    max-width: none;
}

// Post title.
.editor-post-title__input {
	font-family: var(--font-sans);
	@extend h1;
}