@import "blocks";

// Align full and align wide.
.alignfull {
	width: 100vw;
	max-width: 100vw;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	.alignfull {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.alignwide {
	--width: 100vw;

	width: var(--width);
	max-width: var(--width);
	margin-left: calc(50% - var(--width)/2);
	margin-right: calc(50% - var(--width)/2);

	padding-left: 12px;
	padding-right: 12px;
}
.wp-block-image.alignwide img {
	width: auto;
	@include center-block;
}

@media(min-width: 768px) {
	.alignwide {
		padding-left: 0;
		padding-right: 0;
		--width: var(--container-md);
	}
}
@media(min-width: 1024px) {
	.alignwide {
		--width: var(--container-lg);
	}
}
@media(min-width: 1280px) {
	.alignwide {
		--width: var(--container-xl);
	}
}
// Don't adjust the width and margin for elements inside a grid column.
.wp-block-jetpack-layout-grid-column .alignwide {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: auto;
	max-width: none;
}

// Buttons.
.wp-block-button {
	margin-bottom: 1.5em;
}
.wp-block-button__link {
	@extend button;
}