@import "blocks";
@import "woocommerce";

// Align full and align wide.
.alignwide,
.alignfull {
	--width: 100vw;

	width: var(--width);
	max-width: var(--width);
	margin-left: calc(50% - var(--width)/2);
	margin-right: calc(50% - var(--width)/2);

	.alignfull {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

.alignwide {
	--width: calc(100vw - 24px); // Padding on both sides.
}
@media(min-width: 1280px) {
	.alignwide {
		--width: calc(var(--container) - 24px); // Padding on both sides.
	}
}

// Reset for sidebar-enabled pages.
// Don't adjust the width and margin for elements inside a grid column.
.sidebar-left .entry-content .alignwide,
.sidebar-left .entry-content .alignfull,
.sidebar-left .entry-summary .alignwide,
.sidebar-left .entry-summary .alignfull,
.sidebar-right .entry-content .alignwide,
.sidebar-right .entry-content .alignfull,
.sidebar-right .entry-summary .alignwide,
.sidebar-right .entry-summary .alignfull,
.wp-block-jetpack-layout-grid-column .alignwide {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: auto;
	max-width: none;
}

// Buttons.
.wp-block-button {
	margin-bottom: 1.5em;
}