li[id$="font_size"],
li[id$="letter_spacing"],
li[id$="line_height"] {
	width: 150px;
}

li[id$="font_size_unit"],
li[id$="letter_spacing_unit"],
li[id$="line_height_unit"] {
	width: 100px;
	clear: none;
	margin: 28px 0 0 5px;
}


@media screen and (max-width: 782px) {
	li[id$="font_size_unit"] select,
	li[id$="letter_spacing_unit"] select,
	li[id$="line_height_unit"] select {
		height: 40px;
	}
}